<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//oss.maxcdn.com/knockout/3.1.0/knockout.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/highlight.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/holder/2.3.1/holder.min.js"></script>
<script src="{{site.baseurl}}/js/main.js"></script>

{% if page.script_sample == "global" %}
<script src="{{site.baseurl}}/bower_components/everest/dist/everest.min.js"></script>
<script src="{{site.baseurl}}/js/samples/global.js"></script>
{% elsif page.script_sample == "amd" %}
<script>
    var require = {
        paths: {
            "jquery": "//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min",
            "knockout": "//oss.maxcdn.com/knockout/3.1.0/knockout",
            "everest": "{{site.baseurl}}/bower_components/everest/lib/everest"
        }
    };
</script>
<script data-main="{{site.baseurl}}/js/samples/amd.js" src="//oss.maxcdn.com/requirejs/2.1.14/require.min.js"></script>
{% else %}
{% endif %}
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-41236726-4', 'auto');
    ga('send', 'pageview');
</script>