---
layout: default
---
<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Everest.js is a RESTful javascript client for the browser. it is hosted on GitHub with an MIT Licence.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{site.baseurl}}/images/everest-js.png" />
    <title>{{page.title}}</title>
    <link rel="shortlink" type="text/html" href="http://goo.gl/cpdgO2">
    <link rel="shortcut icon" type="image/png" href="{{site.baseurl}}/images/favicon.png"/>
    <link href="//fonts.googleapis.com/css?family=Teko:300,400,500,600,700" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.min.css">
</head>
<body class="{{ page.body_class }}" itemscope itemtype="http://schema.org/SoftwareApplication">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

{{ content }}

{% include scripts.html %}
</body>
</html>
